html {
    background-color: #fff;
    min-height: 100%
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #686159;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 87.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden
}
ul,
ol,
li {
    margin: 0;
    padding: 0
}
p {
    font-size: 1.14285714em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333
}
h1 {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.85714286em;
    line-height: 50px;
    font-weight: 300;
    color: #333
}
h2 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 21px;
    font-weight: 300;
    color: #333
}
img {
    border: 0
}
a:link,
a:visited,
a:hover,
a:focus {
    color: #0666b3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
.no-js body {
    display: block!important
}

.clearfix {
    zoom: 1
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: ""
}
.clearfix:after {
    clear: both
}
.hide {
    display: none
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}
a.button,
a.button:link,
a.button:visited,
.button,
button {
    outline: none;
    width: 100%;
    height: 44px;
    padding: 10px 15px;
    border: 0;
    display: block;
    background: #009cde;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-webkit-appearance: none;
    -ms-webkit-appearance: none;
    -o-webkit-appearance: none;
    webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1.14285714em;
    text-align: center;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none
}
a.button:hover,
a.button:link:hover,
a.button:visited:hover,
.button:hover,
button:hover,
a.button:focus,
a.button:link:focus,
a.button:visited:focus,
.button:focus,
button:focus,
a.button.active,
a.button:link.active,
a.button:visited.active,
.button.active,
button.active,
a.button:active,
a.button:link:active,
a.button:visited:active,
.button:active,
button:active {
    background: #0a8cc4;
    text-decoration: none
}

a.button.secondary,
a.button:link.secondary,
a.button:visited.secondary,
.button.secondary,
button.secondary {
    color: #393f44;
    background: #e1e7eb
}
a.button.secondary:hover,
a.button:link.secondary:hover,
a.button:visited.secondary:hover,
.button.secondary:hover,
button.secondary:hover,
a.button.secondary:active,
a.button:link.secondary:active,
a.button:visited.secondary:active,
.button.secondary:active,
button.secondary:active {
    text-decoration: none;
    background: #c9ced1
}
a.button.secondary:disabled,
a.button:link.secondary:disabled,
a.button:visited.secondary:disabled,
.button.secondary:disabled,
button.secondary:disabled {
    background: #e7edf0
}
.grid12 {
    margin: 0 1.041667%
}
.grid8 {
    width: 64.581%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}
.grid9 {
    width: 64.581%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}
.grid7 {
    width: 48.915%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 85px
}
.grid6 {
    width: 47.915%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}
.grid5 {
    width: 39.582%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}
.grid4 {
    width: 31.249%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top
}
.margin4 {
    margin: 0 33.0332%
}
.margin1 {
    margin: 0 20.0083%
}
.grid3 {
    width: 22.916%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.gutter-left {
    margin-left: 2.083%
}
.grid {
    width: 100%
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .grid12 {
        margin: 0 3.5%
    }
    .grid {
        width: auto
    }
}
@media all and (max-width: 767px) {
    .grid12 {
        margin: 0 3.5%
    }
    .grid,
    .grid4 {
        width: auto;
        display: block
    }
    .margin4 {
        margin: 0
    }
    .margin1 {
        width: 100%
    }
    .grid6 {
        display: block
    }
    .grid7 {
        width: 100%;
        padding-left: 0
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .grid6 {
        width: 65%;
        display: block
    }
    .grid6.gutter-left {
        margin-left: 0
    }
    .grid6 header {
        margin-bottom: 30px
    }
    .grid4 {
        width: 39%
    }
    .grid4.margin4 {
        margin: 0 30%
    }
    .grid7 {
        width: 85%;
        padding-left: 60px
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .grid7 {
        width: 85%;
        padding-left: 85px
    }
}
.fixed {
    width: 512px;
    margin: 0 auto
}
#main {
    width: 960px;
    margin: 0 auto
}
#main header {
    width: 95%
}
.center {
    margin: 0 auto
}
header.mainHeader {
    min-height: 72px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #fff;
	min-width : 1000px;
	width : 100%;
}
.headerContainer {
	margin:0 auto;
	padding : 0 10px;
	max-width : 1200px;
	min-width : 980px;
	width : 100%;
}
.centerText {
    text-align: center
}
.camelCase {
    text-transform: capitalize
}
header p {
    margin: 15px 0;
    line-height: 22px
}
main {
    margin: 0;
    padding: 30px 0 0px;
    position: relative
}
.boldText {
    font-weight: 700
}
.container {
    background: #f5f5f5
}
.container .inner {
    margin: 0 9.3741667%;
    padding: 18px 0 30px;
    position: relative
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    section #main {
        width: 100%
    }
    section #main .grid12 .grid6.valueProp {
        width: 49.5%
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    section #main .grid12 .grid6.valueProp {
        width: 70%
    }
    section #main .grid12 .grid6.valueProp .imageHolder {
        display: none;
        background: 0 0
    }
}
@media all and (max-width: 767px) {
    * {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none
    }
    header.mainHeader {
        width: 100%
    }
    main {
        padding: 0
    }
    main #main {
        width: 100%;
        margin: 0 auto
    }
    main #main header {
        width: 100%;
        margin-bottom: 15px
    }
    main #main header h1 {
        font-size: 1.57142857em;
        line-height: 25px;
        margin-top: 15px
    }
    main #main .grid12 {
        margin: 0 3.5%
    }
    main #main .grid12 .grid6 {
        width: 100%
    }
    main #main .grid12 .grid6.valueProp .imageHolder {
        background: 0;
        height: 0;
        margin: 0;
        padding: 0
    }
    main #main .grid12 .grid6.gutter-left {
        margin-left: 0
    }
    main #main .valueProp .imageHolder {
        background: 0;
        display: none
    }
    main .container .inner {
        margin: 0 2.3741667%
    }
}
.help-information,
.help-error,
.help-error:before,
.help-error:after,
.help-information:before,
.help-information:after,
.page-error,
.no-js .error-submit {
    max-height: 0;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: 5;
    font-size: 0
}
.hasError .tickmark {
    display: none
}
.help-information.open,
.no-js .help-information {
    margin: 7px 0 0;
    padding: 8px 12px;
    border: 1px solid #cee0eb;
    position: absolute;
    background: #f4f8fb;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    text-shadow: 0 1px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: showHide 300ms 0 ease;
    -moz-animation: showHide 300ms 0 ease;
    -ms-animation: showHide 300ms 0 ease;
    animation: showHide 300ms 0 ease;
    max-height: 10em
}
.help-information.open:before,
.no-js .help-information:before {
    border-color: transparent transparent #cee0eb;
    border-style: dashed solid;
    border-width: 7px;
    position: absolute;
    left: 10px;
    top: -14px;
    z-index: 1;
    content: ""
}
.help-information.open:after,
.no-js .help-information:after {
    border-color: transparent transparent #f4f8fb;
    border-style: dashed solid;
    border-width: 7px;
    position: absolute;
    left: 10px;
    top: -12px;
    z-index: 2;
    content: ""
}
.no-js .help-information {
    position: relative
}
.hasError .help-error.open,
.passwordSection .hasError .help-information.open,
.no-js .hasError .error-submit {
    margin: 7px 0 0;
    padding: 8px 12px;
    border: 1px solid #efcaca;
    position: absolute;
    background: #f7ebeb;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    text-shadow: 0 1px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: showHide 300ms 0 ease;
    -moz-animation: showHide 300ms 0 ease;
    -ms-animation: showHide 300ms 0 ease;
    animation: showHide 300ms 0 ease;
    max-height: 20em
}
.hasError .help-error.open:before,
.passwordSection .hasError .help-information.open:before,
.no-js .hasError .error-submit:before {
    border-color: transparent transparent #efcaca;
    border-style: dashed solid;
    border-width: 7px;
    position: absolute;
    left: 10px;
    top: -14px;
    z-index: 1;
    content: ""
}
.hasError .help-error.open:after,
.passwordSection .hasError .help-information.open:after,
.no-js .hasError .error-submit:after {
    border-color: transparent transparent #f7ebeb;
    border-style: dashed solid;
    border-width: 7px;
    position: absolute;
    left: 10px;
    top: -12px;
    z-index: 2;
    content: ""
}
.hasError .help-error.open~.help-error.open,
.passwordSection .hasError .open~.help-error.open,
.hasError.submitted .help-error.open~.help-error.open,
.passwordSection .hasError.submitted .open~.help-error.open {
    display: none!important
}
.help-information>ul,
.help-error>ul {
    margin: 0
}
.help-information.open>ul li,
.help-error.open>ul li {
    margin: 5px 0;
    list-style: none
}
.page-error.open {
    margin: 7px 0 0;
    padding: 8px 12px;
    border: 1px solid #efcaca;
    position: absolute;
    background: #f7ebeb;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    text-shadow: 0 1px #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 0 10px;
    max-height: 500px;
    display: block
}
.hasError.textInput input {
    border: 1px solid #9d2c36;
    background-image: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png);
    background-repeat: no-repeat
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
    .hasError.textInput input {
        background-image: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form_2x.png);
        background-size: 25px
    }
}
.hasError.textInput input {
    background-position: 96% 62%;
    background-color: #fff
}
.hasError.textInput textarea {
    border: 1px solid #9d2c36
}
.hasError.textInput.medium input,
.hasError.textInput.medium input:hover,
.hasError.textInput.medium input:focus {
    background-position: 95% 62%
}
.hasError.textInput.large input,
.hasError.textInput.large input:hover,
.hasError.textInput.large input:focus {
    background-position: 98% 62%
}
.hasError.selectDropdown,
.hasError .selectDropdown,
.hasError.selectDropdown:hover,
.hasError .selectDropdown:hover,
.hasError.selectDropdown:focus,
.hasError .selectDropdown:focus {
    border: 1px solid #9d2c36;
    background-image: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png);
    background-repeat: no-repeat;
    background-color: #fff
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
    .hasError.selectDropdown,
    .hasError .selectDropdown,
    .hasError.selectDropdown:hover,
    .hasError .selectDropdown:hover,
    .hasError.selectDropdown:focus,
    .hasError .selectDropdown:focus {
        background-image: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form_2x.png);
        background-size: 25px
    }
}
.hasError.selectDropdown,
.hasError .selectDropdown,
.hasError.selectDropdown:hover,
.hasError .selectDropdown:hover,
.hasError.selectDropdown:focus,
.hasError .selectDropdown:focus {
    background-position: 96% 62%;
    background-color: #fff
}
.selectDropdown.hasError select:focus,
.selectDropdown.hasError select:hover {
    -webkit-box-shadow: 0 0 5px transparent, 0 2px 2px transparent inset;
    -moz-box-shadow: 0 0 5px transparent, 0 2px 2px transparent inset;
    box-shadow: 0 0 5px transparent, 0 2px 2px transparent inset;
    border: 1px solid transparent
}
.js .ipad form .checkbox,
.js .desktop form .checkbox.hasError.submitted input[type=checkbox]+label {
    background-position: -1.4% 27.6%
}
@media all and (max-width: 767px) {
    .help-information.open,
    .passwordSection .hasError .help-information,
    .passwordSection .hasError.submitted .help-information,
    .hasErroror .help-error,
    .hasError.submitted .help-error,
    .no-js .error-submit,
    .no-js .help-information {
        width: auto
    }
    .BR .hasError.textInput.large input,
    .BR .hasError.textInput.large input:hover,
    .BR .hasError.textInput.large input:focus,
    .BR .hasError.textInput.medium input,
    .BR .hasError.textInput.medium input:hover,
    .BR .hasError.textInput.medium input:focus,
    .BR .hasError.textInput.small input,
    .BR .hasError.textInput.small input:hover,
    .BR .hasError.textInput.small input:focus,
    .BR .hasError.textInput input {
        background-position: 98% 62%
    }
}
.textInput {
    margin: 0 0 10px 0
}

.textInput label {
    margin: 0;
    display: block;
    line-height: 44px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #898989
}
.textInput input,
.textInput textarea {
    height: 44px;
    width: 100%;
    padding: 0 24px 0 12px;
    border: 1px solid #aaa;
    outline: 0;
    background: #fff;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400
}
.textInput input:hover,
.textInput textarea:hover,
.textInput input:focus,
.textInput textarea:focus {
    border: 1px solid #0079c1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fff
}
.textInput input:disabled,
.textInput textarea:disabled {
    border: 1px solid #cbd2d6
}
.textInput textarea {
    padding-top: 12px;
    padding-right: 0;
    height: 100%;
    overflow: auto
}
.textInput input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: border .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: border .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: border .2s ease-in-out, background-color .2s ease-in-out;
    -ms-transition: border .2s ease-in-out, background-color .2s ease-in-out;
    transition: border .2s ease-in-out, background-color .2s ease-in-out
}
.textInput .pin {
    -webkit-text-security: disc
}
.textInput input[readonly=readonly]:hover,
.textInput input[readonly=readonly]:focus {
    border: 1px solid #cbd2d6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}
.groupFields {
    clear: both
}
.groupFields .textInput {
    width: 48.9%;
    float: left
}
.groupFields .textInput input {
    width: 100%
}
.groupFields .left,
.groupFields .middle {
    margin-right: 10px
}
.groupFields .multi .left {
    width: 72.5%;
    float: left
}
.groupFields .multi .right {
    width: 25%;
    float: left
}
.groupFields .multi.equal .left,
.groupFields .multi.equal .right {
    width: 48.6%
}
.groupFields .multi.equal .left {
    margin-right: 0
}
.groupFields .multi.equal .right {
    float: right
}
.groupFields .reverse .right {
    width: 72.3%
}
.groupFields .reverse .left {
    width: 25%
}
.groupFields .multiple .left {
    width: 48.8%;
    float: left
}
.groupFields .multiple .right {
    width: 25%;
    float: left
}
.groupFields .multiple .middle {
    width: 21.4%;
    float: left
}
.groupFields .multiple.equal .left,
.groupFields .multiple.equal .right,
.groupFields .multiple.equal .middle {
    width: 31.8%
}
.groupFields .large {
    width: 100%
}
.groupFields.joint .left {
    width: 34.7%;
    height: 42px;
    margin-right: 0;
    border: 1px solid #aaa;
    border-right: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #fff
}
.groupFields.joint .left label {
    padding-left: 10px
}
.groupFields.joint .right {
    width: 65%;
    float: right
}
.groupFields.joint .right .selectDropdown {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}
.groupReatedFields .left {
    width: 29%;
    float: left
}
.groupReatedFields .left .selectDropdown,
.groupReatedFields .left input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.groupReatedFields .right {
    width: 71%;
    float: left
}
.groupReatedFields .right input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.RU .groupReatedFields .left {
    width: 40%
}
.RU .groupReatedFields .right {
    width: 60%
}
@media all and (max-width: 538px) {
    .groupFields .textInput,
    .groupFields .multi .textInput,
    .groupFields .multiple .textInput,
    .groupFields .selectDropdown,
    .groupFields .multi .selectDropdown,
    .groupFields .multiple .selectDropdown {
        width: 100%
    }
}
@media all and (max-width: 767px) {
    .groupFields .textInput,
    .groupFields .multi .textInput,
    .groupFields .multi.equal .textInput,
    .groupFields .multiple .textInput,
    .groupFields .nativeDropdown,
    .groupFields .multi .nativeDropdown,
    .groupFields .multi.equal .nativeDropdown,
    .groupFields .multiple .nativeDropdown {
        width: 100%
    }
    .groupFields .selectDropdown,
    .groupFields .multi .selectDropdown,
    .groupFields .multi.equal .selectDropdown,
    .groupFields .multiple .selectDropdown {
        width: 100%;
        margin: 0 0 10px 0
    }
    .groupFields .multi.equal .left,
    .groupFields .multi.equal .right {
        width: 100%
    }
    .groupFields.joint .left {
        width: 39.5%
    }
    .groupFields.joint .right {
        width: 60%
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .groupFields.joint .left {
        width: 39.6%
    }
    .groupFields.joint .right {
        width: 60%
    }
}
.android .textInput input:focus {
    -webkit-user-modify: read-write-plaintext-only
}
.selectDropdown {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png) no-repeat scroll 96% 46%, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png) no-repeat scroll 96% 46%, -webkit-linear-gradient(top, #fff, #fff) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png) no-repeat scroll 96% 46%, -moz-linear-gradient(top, #fff, #fff) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png) no-repeat scroll 96% 46%, -ms-linear-gradient(top, #fff, #fff) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/consumer/onboarding/onboarding_form.png) no-repeat scroll 96% 46%, -o-linear-gradient(top, #fff, #fff) 0 0;
    background-color: #fff
}
.selectDropdown:hover,
.selectDropdown:focus,
.selectDropdown.hovered {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #57a9d9
}
.selectDropdown.progress {
    font-size: 0;
    background: #fff
}
.selectDropdown.progress::after {
    -webkit-animation: rotation .7s infinite linear;
    -moz-animation: rotation .7s infinite linear;
    -o-animation: rotation .7s infinite linear;
    animation: rotation .7s infinite linear;
    border-left: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-top: 4px solid #2180c0;
    content: "";
    height: 30px;
    width: 30px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    border-width: 8px;
    border-style: solid;
    border-color: #2180c0 #444 #444;
    -webkit-animation: rotation .7s infinite linear;
    -moz-animation: rotation .7s infinite linear;
    -ms-animation: rotation .7s infinite linear;
    animation: rotation .7s infinite linear;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%;
    width: 16px;
    height: 16px
}
.selectDropdown select {
    width: 120%;
    border: 0 none;
    margin: 0;
    padding: 10px;
    height: 42px;
    background: 0 0;
    position: relative;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    line-height: 1.230769em;
    z-index: 1
}
.selectDropdown option {
    background-color: #fff;
    padding: 6px 10px
}
.selectDropdown option:hover,
.selectDropdown option:focus,
.selectDropdown option.focus {
    background-color: #f5f5f5
}
.selectDropdown select::-ms-expand {
    display: none
}
form .nativeDropdown {
    position: relative
}
form .nativeDropdown label {
    display: block;
    margin: 0;
    line-height: 1.76923em;
    font-weight: 400
}
form .nativeDropdown.small {
    width: 33%
}
form .nativeDropdown.large {
    width: 100%
}
form .nativeDropdown.tall .selectDropdown {
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2)) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -webkit-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -moz-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -ms-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -o-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background-color: #fff
}
form .nativeDropdown.tall select {
    height: 2.95em
}
form .nativeDropdown.tall.hasError .selectDropdown,
form .nativeDropdown.tall.hasError .selectDropdown:hover,
form .nativeDropdown.tall.hasError .selectDropdown:focus,
form .nativeDropdown.tall.hasError .selectDropdown.hovered {
    border-color: #de746a;
    -webkit-box-shadow: 0 0 5px rgba(220, 99, 88, .6);
    -moz-box-shadow: 0 0 5px rgba(220, 99, 88, .6);
    box-shadow: 0 0 5px rgba(220, 99, 88, .6);
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll 94% -2188px, url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2)) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll 94% -2188px, url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -webkit-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll 94% -2188px, url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -moz-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll 94% -2188px, url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -ms-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background: url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll 94% -2188px, url(https://www.paypalobjects.com/webstatic/i/sprite/sprite_ui.png) no-repeat scroll right -1683px, -o-linear-gradient(top, #fff, #f2f2f2) 0 0;
    background-color: #fff
}
footer {
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.footer {
    width: 960px;
    margin: 0 auto;
    font-size: .846em
}
.creditCard.iconText {
    display: none
}

.suggestionSelected {
    background-color: #0079ad;
    color: #fff
}
.no-js a.button.personalSignUpForm {
    display: none
}
section .oem h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.28571429em;
    font-weight: 500
}
section .oem .countryDropdown {
    padding-bottom: 10px
}
section .oem .toggle-link {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    background: 0 0;
    border: 0;
    border-radius: .25em;
    color: #888;
    cursor: pointer;
    font-size: .75em;
    font-weight: 700;
    margin-top: -13.5px;
    margin-right: .5em;
    padding: .5em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none
}
section .oem .toggle-link:hover,
section .oem .toggle-link:focus {
    background-color: #eee;
    color: #555;
    outline: transparent
}
.create .countryDropdown {
    margin-bottom: 10px
}
.create .zipCityState .right {
    width: 68%;
    float: right
}
.create .zipCityState .left {
    width: 29.3%;
    margin-right: 0
}
.create .copyContainer {
    padding-top: 30px
}

.create .valueProp .imageHolder {
    margin-top: 50px;
    height: 450px;
    width: 450px
}
.create .valueProp .imageHolder {
    background-image: url(../img/image_omni_ch.jpg);
    background-repeat: no-repeat
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
    .create .valueProp .imageHolder {
        background-image: url(../img/image_omni_ch_2x.jpg);
        background-size: 100%
    }
}